# vim:ft=bash
function base_ros_setup(){
  source /opt/ros/humble/setup.zsh
  complete -o nospace -o default -F _python_argcomplete "ros2"
}
function env_ros() {
	export ROS_DOMAIN_ID=0
	# source /usr/share/colcon_cd/function/colcon_cd.sh
	# source /usr/share/colcon_argcomplete/hook/colcon-argcomplete.zsh
	# export _colcon_cd_root=/opt/ros/iron/
	source $HOME/ros_ws/install/setup.zsh
}

base_ros_setup
alias rcb="colcon build --symlink-install"
alias rcc="rm build install log -rf"

noetic_docker_here () {
    if [ -n "$DATA_DIR" ]; then
        docker run -it --rm -v "$(pwd):/home/dev/ros_ws" -v "$DATA_DIR:/data" ros_noetic_dev
    else
        docker run -it --rm -v "$(pwd):/home/dev/ros_ws" ros_noetic_dev
    fi
}
